body {
    background-color: var(--background-clr);
    margin: 0px;
    height: 100vh;
    display: grid;
    place-items: center;
}

:root {
  --background-clr: rgb(20, 20, 20);
  
  --switch-duration: 400ms;
  
  --little-card-duration: 700ms;
  --little-card-width: 13vmin;
  --little-card-shadow-clr: rgba(100, 100, 0, 0.25);
  
  --big-card-duration: 600ms;
  --big-card-width: 30vmin;
  --big-card-shadow-clr: rgba(0, 0, 0, 0.7);
  
  --card-aspect-ratio: 5 / 7;
  
  --button-size: 9vmin;
  --button-font-size: 3.5vmin;
  --button-clr: rgb(200, 200, 200);
  --button-background-clr: rgb(200, 200, 200);
}

.card-groups, 
.card-group,
.card {
  aspect-ratio: var(--card-aspect-ratio);
}

.card-groups,
.card-group,
.big-card {  
  width: var(--big-card-width);
}


.card-group {
    position: absolute;
    transform: translateX(-50%);
    transition: transform var(--switch-duration) ease;
}

.card-group[data-status="unknown"] {
  transform: scale(0);
  transition: none;
}

.card-group[data-status="active"] {
  transition-delay: 300ms;
}

.card-group[data-status="after"] {
  transform: translateX(75%) scale(0) rotate(25deg);
}

.card-group[data-status="before"] {
  transform: translateX(-150%) scale(0) rotate(-25deg);
}

.card-group[data-status="becoming-active-from-after"] {
  transform: translateX(75%) scale(0) rotate(25deg);
  transition: none;
}

.card-group[data-status="becoming-active-from-before"] {
  transform: translateX(-150%) scale(0) rotate(-25deg);
  transition: none;
}


.card {
  position: absolute;
  background-size: cover;
  background-position: center;
  transition: transform cubic-bezier(.05, .43, .25, .95);
}

.big-card {
    box-shadow: -1.5vmin 1.5vmin 2vmin var(--big-card-shadow-clr);
  border-radius: 3vmin;
  z-index: 2;
  transition-duration: var(--big-card-duration);
}

.little-card {
  width: var(--little-card-width);
  border-radius: 2.5vmin;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition-duration: var(--little-card-duration);
  box-shadow: -0.5vmin 0.5vmin 2vmin var(--little-card-shadow-clr);
  
}


.big-card:nth-child(1) {transform: translate(-20%) rotate(-7deg);}

.big-card:nth-child(2) {transform: translate(-7.5%); }

.big-card:nth-child(3) {transform: translate(15%) rotate(5deg);}

.big-card:nth-child(4) {transform: translate(35%, 5%) rotate(10deg);}


.card-group:hover > .big-card:nth-child(1) {transform: translate(-80%, 10%) rotate(-20deg);}

.card-group:hover > .big-card:nth-child(2) {transform: translate(-40%) rotate(-10deg);}

.card-group:hover > .big-card:nth-child(3) {transform: translate(20%) rotate(10deg);}

.card-group:hover > .big-card:nth-child(4) {transform: translate(80%, 10%) rotate(20deg);}

.card-group:hover > .little-card:nth-child(5) {transform: translate(-270%, -175%) rotate(10deg); z-index: 3;}

.card-group:hover > .little-card:nth-child(6) {transform: translate(-277.5%, 127.5%) rotate(-10deg); z-index: 3;}

.card-group:hover > .little-card:nth-child(7) {transform: translate(205%, -170%) rotate(-15deg);}

.card-group:hover > .little-card:nth-child(8) {transform: translate(195%, 145%) rotate(10deg);}


#card-swiper-buttons {
  margin-top: 25vmin;
}

#card-swiper-buttons > button {
  font-size: var(--button-font-size);
  border: 0.4vmin solid var(--button-background-clr);
  border-radius: 100%;
  background: transparent;
  color: var(--button-clr);
  width: var(--button-size);
  height: var(--button-size);
  margin: 0vmin 3vmin;
  cursor: pointer;
}

#card-swiper-buttons > button:hover {
  box-shadow: 0 0 7.5px var(--button-background-clr);
}

input {
    position: absolute;
    bottom: 20px;
    left: 0;
}